.blog-card {
    @include rem(margin-bottom, 15px);
    @include respond-to($media-sm) {
        @include rem(margin-bottom, 30px);
    }
    text-align: center;
    background-color: #fff;
    @include vendor-prefixes(box-shadow,  2px 2px 5px 0px rgba(0,0,0,0.2));
    .blog-img {
        overflow: hidden;
        display: block;
        img {
            @include vendor-prefixes(transition, all 0.3s ease);
        }
    }
    a {
        cursor: pointer;
    }
    &:hover {
        .blog-img img {
            @include vendor-prefixes(transform, scale(1.2));
        }
    }
    h2 {
        color: $black;        
        font-weight: 500;
        @include rem(margin, 15px 0 10px);
        text-align: center;
        a {
            @include rem(font-size, 16px);
            color: $black;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h5 {
        color: #676767;
        @include rem(font-size, 12px);
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid #ccc;
        @include rem(padding-bottom, 10px);
        @include rem(margin-bottom, 20px);
    }
    p {
        @include multiline-text(1.2rem, 1.8, 5);
        line-height: 1.8;
        @include rem(margin-bottom, 20px);
    }
    a {
        color: #c2506b;
        @include rem(font-size, 10px);
        font-weight: 800;
        text-transform: uppercase;
    }

    .blog-inner {
      @include rem(padding, 10px 10px 25px 10px);  
    }
}

.blog-conent {
    p {
      @include rem(font-size, 14px);
        line-height: 1.8;
        @include rem(margin-bottom, 20px); 
    }
}

.blog-wrapper {
    .slider-pager {
        @include rem(margin-top, 10px);
    }

    h1 {
        margin-bottom: 0;
    }

    .category-listing {
        @include rem(padding-top, 10px);
    }
}