.category-wrapper {
	@include rem(margin-bottom, 60px);
	@include rem(padding-top, 30px);
	h1 {
        @include rem(font-size, 30px);
        font-weight: 300;
        @include rem(margin-bottom, 15px);
    }
    p {
        @include rem(font-size, 10px);
    }

    select {
    	width: 185px;
    	border-radius: 4px;
    	border: 1px solid #ccc;
    	padding: 5px;
    	 @include rem(font-size, 12px);
    }
}

.category-listing {
	@include rem(padding-top, 30px);
}

.product-block {
	@include rem(margin-bottom, 30px);
	@include respond-to($media-sm) {
        @include rem(margin-bottom, 60px);
    }
	.product-photo {		
		overflow: hidden;
		display: block;
		img {
			@include vendor-prefixes(transition, all 0.3s ease);
		}
	}
    a {
        cursor: pointer;
    }
	&:hover {
		.product-photo img {
            @include vendor-prefixes(transform, scale(1.2));
        }
	}
	h3 {        
        color: $grey;        
        font-weight: 500;              
        @include rem(margin, 10px 0);
        a {
        	color: $grey;
        	@include multiline-text(1.2rem,  1.8,  2);
        	&:hover {
        		text-decoration: none;
        	}
        }        
    }
    h1 {        
        color: $grey; 
        @include rem(font-size, 16px);       
        font-weight: 700;              
        @include rem(margin-top, 20px);
        a {
            color: $grey;            
            &:hover {
                text-decoration: none;
            }
        }        
    }
    h2 {        
        color: $pink;
        @include rem(font-size, 16px);
        font-weight: 700;        
    }

    h4 {        
        color: $grey;
        @include rem(font-size, 18px);        
        font-weight: 700;              
        @include rem(margin, 15px 0 10px);
        a {
            color: $grey;
            &:hover {
                text-decoration: none;
            }
        }        
    }

    h5 {        
        color: $pink;
        @include rem(font-size, 14px);
        font-weight: 700;        
    }
}

.sort-select {
	@include rem(padding-top, 20px);
	@include respond-to($media-sm) {
		text-align: right;
	}
}