.form-wrapper {
    @include rem(margin, 40px 0);
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);

    @include rem(padding, 20px 0);

    > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;

        a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;

            &.active {
                color: #029f5b;
                font-size: 18px;
            }
        }

        hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
            background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        }
    }

    input[type="text"], input[type="email"], input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .social-buttons {
    		@include rem(margin-bottom, 20px);
        a {
            color: white;
            opacity: 0.9;

            &:hover {
                color: white;
                opacity: 1;
            }
        }

        .btn-facebook {
            background: #3b5998;
        }

        .btn-twitter {
            background: #00aced;
        }

        .btn-google {
            background: #c32f10;
        }
    }
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    color: $white;
    background-color: $pink;
    outline: none;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: $pink;

    @include vendor-prefixes(transition, all 0.2s ease);

    &:hover,
    &:focus {
        outline: none;
        color: $white;
        background-color: darken($pink, 10);
        border-color: darken($pink, 10);
    }
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

#forgotPassword {
    h4 {
        font-weight: 700;
    }

    .modal-footer {
        text-align: center;
    }
}

.forgot-wrapper {
    @include rem(padding, 15px);

    .form-group {
        label {
            @include rem(margin-bottom, 10px);
        }
    }
}