.navbar {
    border-radius: 0;
    margin-bottom: 0;

    @include respond-to($media-sm) {
        min-height: 70px;
    }
}

.navbar-brand {
    background: url("../img/comrade-logo.jpg") 0 0 no-repeat;
    width: 135px;
    height: 40px;
    padding: 0;
    margin-top: 5px;
    text-indent: -99999px;
    overflow: hidden;
    background-size: contain;   
    @include respond-to(768px) {
        width: 270px;
        height: 80px;
        margin-top: 0;
    }
}

.navbar-default {
	background-color: #fff;
    .navbar-nav {
        > li {
            > a {
                @include rem(font-size, 14px);
				font-family: $openSans;
                font-weight: 500;
                text-transform: uppercase;
                color: #545251;

                @include respond-to($media-sm) {
                    @include rem(padding-top, 30px);
                    @include rem(padding-bottom, 30px);
                }
            }
            
        }
    }
}

.dropdown-menu > li > a {
    @include rem(font-size, 10px);
    font-weight: 400;
}

.mega-dropdown {
  position: static !important;
  float: none;
  display: inline-block;
}
.mega-dropdown-menu {
    padding: 0;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 20px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.sn-photo {
  width: 150px;
  height: 150px;
  border: 0 !important;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.product-card .icon-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  border: 0 !important;
}


.nav .dropdown-3.open >a, .nav .dropdown-3.open>a:focus, .nav .dropdown-3.open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.dropdown-menu {
  border-bottom: 1px solid #353f63;
}

.dropdown-menu>li>a {
  padding: 20px;
  position: relative;
  text-transform: uppercase;
}

.c-icon, .heater, .mixer {
  background: url('../img/air-cooler-icons.png') 0 0 no-repeat;
  width: 80px;
  height: 75px;
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

.heater {
  background: url('../img/water-heater-icons.png') 0 0 no-repeat;
}

.mixer {
  background: url('../img/kitchen-appliances-icons.png') 0 0 no-repeat;
}

.product-card {
  &:hover {
    .icon-img .c-icon {
      background-position: 0 -70px;
    }

    .icon-img .heater {
      background-position: 0 -70px;
    }
    .icon-img .mixer {
      background-position: 0 -70px;
    }
  }  
}

.navbar-nav .dropdown-menu > li > a {
    &:before {
      height: 2px;
    background: #353f63;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 100;
    }
    h4 {
    font-weight: 600;
    font-size: 14px;
  }
}

.navbar-nav .dropdown-menu > li:hover > a {

  &:before {
    width: 100%;
    left: 0;
  }
  
  h4 {
    color: #353f63;
  }
}