<div class="antidote-wrapper">
	<div class="container-fluid">
		<div class="row row-no-padding">
			<div class="col-xs-12 col-sm-6">
				<img src="assets/img/the-antidote-to-fear.jpg" alt="the-antidote-to-fear">
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="antidote-inner">
					<h1>The antidote to fear</h1>
					<p>We all have fears. Fear of what may happen in the future, of skeletons in the closet, of failing others and ourselves. We fear what if our worst fears come true. Most of our anxiety stems from such fears. We read self-help books that tell us to “not worry” or “be positive”. But, it doesn’t work most of the time, certainly not every time. Someone asked me the other day, “Is there a way to rise above your fears?”</p>
					<p>Well, it depends on the nature of your fears. If you have paranoia, phobias and worries resulting from excessive thinking then surely a calm mind is of immense help. My focus today is not on unfounded fears arising out of the chattering of a restless mind though. I’ve written and spoken a fair bit on that in the past. Instead, in this post, I talk about genuine fears. Those where a calm mind doesn’t appease your anxiety, fears where all forms of affirmation fails. Only one thing works in the face of such fears. What is that, you ask?</p>
					<a href="#">READMORE</a>
				</div>
			</div>
		</div>
	</div>
</div>