<div class="artitsts-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="artitsts-slider">
					<div class="artitsts-item">
						<h2>Artitsts 1</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
						<a href="#">VIEW OUR PRODUCTS</a>
					</div>
					<div class="artitsts-item">
						<h2>Artitsts 2 </h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
						<a href="#">VIEW OUR PRODUCTS</a>
					</div>
					<div class="artitsts-item">
						<h2>Artitsts 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
						<a href="#">VIEW OUR PRODUCTS</a>
					</div>
				</div>
				<ul class="slider-pager">
            		<li class="prev"></li>
            		<li class="next"></li>
            	</ul>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="row row-no-padding">
					<div class="col-xs-6 col-sm-6">
						<div class="product-card artitsts">
							<a href="#">
								<img src="assets/img/crystal-necklace-artitsts.jpg" alt="crystal-necklace">
								<h2>Crystal Necklace</h2>
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6">
						<div class="product-card artitsts">
							<a href="#">
								<img src="assets/img/crystal-balls-artitsts.jpg" alt="crystal-balls">
								<h2>Crystal Balls</h2>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-no-padding">
			<div class="col-xs-6 col-sm-3">
				<div class="product-card artitsts">
					<a href="#">
						<img src="assets/img/crystal-rings-artitsts.jpg" alt="crystal-rings">
						<h2>Crystal Rings</h2>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="product-card artitsts">
					<a href="#">
						<img src="assets/img/druzy-pendants-artitsts.jpg" alt="Druzy Pendants">
						<h2>Druzy Pendants</h2>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="product-card artitsts">
					<a href="#">
						<img src="assets/img/crystal-artifacts-artitsts.jpg" alt="crystal Artifacts">
						<h2>Crystal Artifacts</h2>
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="product-card artitsts">
					<a href="#">					
						<img src="assets/img/crystal-ear-rings-artitsts.jpg" alt="Crystal Ear Rings">
						<h2>Crystal Ear Rings</h2>
					</a>					
				</div>
			</div>
		</div>
	</div>
</div>