<div class="container-fluid">
    <div class="row row-no-padding">
        <div class="col-sm-12">
            <img alt="healers" src="assets/img/blog-header.jpg">
            </img>
        </div>
    </div>
</div>
<div class="product-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li class="active">
                Blogs
            </li>
        </ol>
        <div class="category-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                    Our Blogs
                    </h1>                   
                </div>
            </div>
            <div class="category-listing">
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>