<div class="blog-wrapper">
<div class="container-fluid">
    <div class="row row-no-padding">
        <div class="col-sm-12">
            <img alt="Amethyst" src="assets/img/blog-header-2.jpg">
            </img>
        </div>
    </div>
</div>
<div class="product-wrapper">
	<div class="container">
	    <div class="product-detail">
	    	<div class="row">	    		
	    		<div class="col-xs-12">
	    			<div class="product-content">
	    				<h1>Multicoloured Crystal Necklace</h1>
	    				<h4>Published by soulwear</h4>
	    				<img src="assets/img/social.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>

<div class="blog-conent">
	<div class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>



<div class="category-wrapper related-products">
    <div class="container">
    	<div class="review-wrapper">
	
		<h2>Comments (0)</h2>
		<h5>Post your Comment</h5>

		<div class="row">
			<div class="col-xs-12 col-sm-9">
				<form action="" method="POST" role="form">
					<div class="form-group">
						<label for="commnet" class="sr-only">Comment</label>
						<textarea name="commnet" id="commnet" class="form-control" rows="3" placeholder="Your comment"></textarea>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<label for="usename" class="sr-only">Your Name</label>								
								<input type="text" class="form-control" id="usename" placeholder="Your name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Your Email</label>
								<input type="text" class="form-control" id="email" placeholder="Your email">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<button type="submit" class="btn btn-add btn-submit">Submit</button>
						</div>
					</div>
				
					
				
					
				</form>
			</div>
		</div>
	
</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>
                    Related Blogs
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6">
            	<ul class="slider-pager">
            		<li class="prev"></li>
            		<li class="next"></li>
            	</ul>
            </div>
        </div>
        <div class="category-listing">
                <div class="row blog-slider">
                    <div class="col-xs-6 col-sm-3">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="blog-card">                            
                            <a href="#" class="blog-img">
                                <img alt="Crystal Necklace" src="assets/img/blog-1.jpg">
                            </a>
                            <div class="blog-inner">
                                <h2><a href="#">The art of criticism</a></h2>
                                <h5>Published by soulwear</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="#">Readmore</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>

</div>
