<div class="container-fluid">
    <div class="row row-no-padding">
        <div class="col-sm-12">
            <img alt="Amethyst" src="assets/img/category-header.jpg">
            </img>
        </div>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="index.html">
                Home
            </a>
        </li>
        <li class="active">
            Products
        </li>
    </ol>
    <div class="category-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Our Product Range
                </h1>
                <p>
                    Beautifully Handcrafted Amethyst necklace to match every occasion.
                </p>
            </div>
        </div>
        <div class="category-listing">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-1.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Crystal Necklace</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-2.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Druzy Pendants</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-3.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Crystal Rings</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-4.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Ear Rings</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-5.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Artifacts</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-6.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Crystal Balls</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-7.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Gypsy Collection</a></h1>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo" href="category-listing.html">
                            <img alt="Crystal Necklace" src="assets/img/category-8.jpg">
                            </img>
                        </a>
                        <h1><a href="category-listing.html">Healing Stone</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
