<div class="container-fluid">
	<div class="row row-no-padding">
		<div class="col-sm-12">
			<div class="hero-slider">
				<div class="hero-image">
					<img src="assets/img/banner-1.jpg" alt="Comrade">
				</div>
				<div class="hero-image">
					<img src="assets/img/banner-1.jpg" alt="Comrade">
				</div>
				<div class="hero-image">
					<img src="assets/img/banner-1.jpg" alt="Comrade">
				</div>
			</div>
		</div>
	</div>
</div>