<div class="container-fluid">
    <div class="row row-no-padding">
        <div class="col-sm-12">
            <img alt="tarot" src="assets/img/tarot-header.jpg">
        </div>
    </div>
</div>
<div class="product-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <a href="healer-listing.html">
                    Healers
                </a>
            </li>
            <li class="active">
                Gayatri
            </li>
        </ol>
        <div class="product-detail healer">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <div class="product-item">
                        <img alt="Crystal Necklace" src="assets/img/gayatri.jpg">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="product-content">
                        <h1>
                        Gayatri
                        </h1>
                        <p class="designation">Tarot Card Reader</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-wrapper healer-video">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Videos </h1>
                    <p>Beautifully Handcrafted Amethyst necklace to match every occasion.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo video-btn" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/Jfrjeg26Cwk">
                        <img alt="Crystal Necklace" src="assets/img/video-1.jpg">
                       
                    </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo video-btn" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/IP7uGKgJL8U">
                        <img alt="Crystal Necklace" src="assets/img/video-2.jpg">
                       
                    </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo video-btn" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/A-twOC3W558">
                        <img alt="Crystal Necklace" src="assets/img/video-3.jpg">
                       
                    </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="product-block">
                        <a class="product-photo video-btn" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/fFUD1N8z2Hk">
                        <img alt="Crystal Necklace" src="assets/img/video-4.jpg">
                       
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                    ×
                </span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe allowscriptaccess="always" class="embed-responsive-item" id="video" src="">
                        >
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>