<div class="container-fluid">
    <div class="row row-no-padding">
        <div class="col-sm-12">
            <img alt="healers" src="assets/img/healers-header.jpg">
            </img>
        </div>
    </div>
</div>
<div class="product-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li class="active">
                Healers
            </li>
        </ol>
        <div class="category-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                    Our Healers
                    </h1>
                    <p>
                        Beautifully Handcrafted Amethyst necklace to match every occasion.
                    </p>
                </div>
            </div>
            <div class="category-listing">
                <div class="row row-padding-30">
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-block">
                            <a href="healer-details.html" class="product-photo">
                                <img alt="Crystal Necklace" src="assets/img/crystal-necklace-artitsts.jpg">
                            </a>
                            <h4><a href="healer-details.html">Gayatri</a></h4>
                            <h5>Tarot Card Reader</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-block">
                            <a href="#" class="product-photo">
                                <img alt="Crystal Necklace" src="assets/img/crystal-balls-artitsts.jpg">
                            </a>
                            <h4><a href="#">Simran</a></h4>
                            <h5>Soul Healer</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-block">
                            <a href="#" class="product-photo">
                                <img alt="Crystal Necklace" src="assets/img/crystal-rings-artitsts.jpg">
                            </a>
                            <h4><a href="#">Rahul</a></h4>
                            <h5>Tarot Card Reader</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-block">
                            <a href="#" class="product-photo">
                                <img alt="Crystal Necklace" src="assets/img/druzy-pendants-artitsts.jpg">
                            </a>
                            <h4><a href="#">Jagjit</a></h4>
                            <h5>Tarot Card Reader</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-block">
                            <a href="#" class="product-photo">
                                <img alt="Crystal Necklace" src="assets/img/crystal-artifacts-artitsts.jpg">
                            </a>
                            <h4><a href="#">Maria</a></h4>
                            <h5>Tarot Card Reader</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-block">
                            <a href="#" class="product-photo">
                                <img alt="Crystal Necklace" src="assets/img/crystal-ear-rings-artitsts.jpg">
                            </a>
                            <h4><a href="#">Heena</a></h4>
                            <h5>Tarot Card Reader</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>