<div class="mystic-hut-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="mh-inner">
					<h1>Mystic Hut</h1>
					<p>Leugiata lesuerleceas strices phaledaty fenanec siterment dolor</p>

					<div class="hut-card hut-first">
						<h3>Healing Hut</h3>
						<p>Leugiata lesuerleceas strices phaledaty fenanec siterment dolor</p>
						<a href="#">KNOW MORE</a>
					</div>
					<div class="hut-card">
						<h3>Spiritual Art</h3>
						<p>Leugiata lesuerleceas strices phaledaty fenanec siterment dolor</p>
						<a href="#">KNOW MORE</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="assets/img/mystic-hut.jpg" alt="mystic hut">
			</div>
		</div>
	</div>
</div>