
<ol class="breadcrumb">
    <li>
        <a href="index.html">Home</a>
    </li>
    <li>
        <a href="category.html">Products</a>
    </li>
    <li class="active">Crystal Necklace</li>
</ol>

<div class="category-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>
                Crystal Necklace
            </h1>
            <p>
                Beautifully Handcrafted Amethyst necklace to match every occasion.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 sort-select">
            <select id="sort" name="sort">
                <option value="">
                    Sort by
                </option>
                <option value="">
                    Price High to Low
                </option>
                <option value="">
                    Price Low to High
                </option>
            </select>
        </div>
    </div>
    <div class="category-listing">
        <div class="row row-padding-30">
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="product-detail.html" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-1.jpg">
                    </a>                   
                    <h3><a href="product-detail.html">Beautifully Handcrafted Amethyst Necklace</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="#" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-2.jpg">
                    </a>                   
                    <h3><a href="#">Beautifully Handcrafted Amethyst Necklace</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="#" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-3.jpg">
                    </a>                   
                    <h3><a href="#">Beautifully Handcrafted</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="#" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-4.jpg">
                    </a>                   
                    <h3><a href="#">Beautifully Handcrafted Amethyst Necklace</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="#" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-5.jpg">
                    </a>                   
                    <h3><a href="#">Beautifully Handcrafted Amethyst Necklace</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="#" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-6.jpg">
                    </a>                   
                    <h3><a href="#">Beautifully Handcrafted Amethyst Necklace</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="product-block">
                    <a href="#" class="product-photo">
                        <img alt="Crystal Necklace" src="assets/img/product-7.jpg">
                    </a>                   
                    <h3><a href="#">Beautifully Handcrafted Amethyst Necklace</a></h3>
                    <h2><span class="fa fa-rupee"></span> 4,800.00</h2>
                </div>
            </div>
            
        </div>
    </div>
</div>