<div class="soul-behind-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-4">
                <div class="soul-behind text-center">
                    <div class="soul-photo">
                        <img src="assets/img/vaisalli-ghosh.jpg" alt="Druzy Pendants">
                    </div>
                    <h4>SOUL BEHIND</h4>
                    <h2>Vaisalli Ghosh</h2>
                    <h3>Leugiata lesuerleceas strices phaledaty fenanec siterment dolor</h3>
                </div>
            </div>
            <div class="col-md-4 col-md-pull-4 col-sm-6">
                <div class="soul-behind soul-second">
                    <p>apegete. Dilement velursusen elnean ctor wisi et urna aseserta. Aliquam eratvpatis ac turpis. Integer rutrum kertyua delertas ante eu lacusuis que nulladeras. Casey yoleacene anrit ma hasesera.</p>
                    <h3>Amol More</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="soul-behind soul-third">                    
                    <p>apegete. Dilement velursusen elnean ctor wisi et urna aseserta. Aliquam eratvpatis ac turpis. Integer rutrum kertyua delertas ante eu lacusuis que nulladeras. Casey yoleacene anrit ma hasesera.</p>
                    <h3>Amitabh Bacchan</h3>
                </div>
            </div>
        </div>
    </div>
</div>